<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- MemberDao memberDao = new MemberDaoImpl()  下同此行交給spring處裡-->
	
	<bean id="memberDao" class="web.member.dao.impl.MemberDaoImpl" />

</beans>
